@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Tema Light */
  --text: #4A3355;
  --text-secondary: #7A6B82;
  --primary: #BDA7D6;      
  --accent: #6B4C7A;       
  --background: #f8d4f1;   
  --card-background: #fff0f2; 

  --gradient: 180deg, rgba(255, 255, 255, 0.5) 0%, rgba(168, 196, 154, 0.15) 100%;
  --gradient-hover: 180deg, rgba(255, 255, 255, 0.7) 0%, rgba(168, 196, 154, 0.3) 100%;

  --shadow: 
    0px 10px 25px rgba(107, 76, 122, 0.08),
    inset 0px 2px 3px rgba(255, 255, 255, 0.6);

  --font-sans: 'Rubik', sans-serif;
}

.dark {
  /* Tema Dark */
  --text: #EBEBEB;
  --text-secondary: #A09AAB;
  --primary: #6B4C7A;
  --accent: #BDA7D6;
  
  --background: #231B2B;    
  --card-background: #2D2538; 

  --gradient: 180deg, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.1) 100%;
  --gradient-hover: 180deg, rgba(255, 255, 255, 0.07) 0%, rgba(0, 0, 0, 0.2) 100%;

  --shadow: 
    0px 10px 20px rgba(0, 0, 0, 0.3),
    inset 0px 1px 2px rgba(255, 255, 255, 0.05);
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}