@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Tema Light */
  --text: #6B4C7A;
  --text-secondary: #6B6B6B;
  --primary: #6B4C7A;       
  --background:    

  --bg-gradient: 180deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(220, 200, 184, 0.05) 100%;

  --gradient: 180deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(220, 200, 184, 0.05) 100%;

  --gradient-hover: 180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(220, 200, 184, 0.1) 100%;

  --shadow:
    0px 11px 0px rgba(0, 0, 0, 0.01),
    0px 7px 7px 0px rgba(0, 0, 0, 0.04),
    0px 4px 6px 0px rgba(0, 0, 0, 0.10),
    0px 2px 4px 0px rgba(0, 0, 0, 0.26),
    0px 0px 2px 0px rgba(0, 0, 0, 0.29),
    inset 0px 2px 3px 0px rgba(220, 200, 184, 0.06);

  --font-sans: 'Rubik', sans-serif;
}

.dark {
  /* Tema Dark */
  --text: #EBEBEB;
  --text-secondary: #6B6B6B;
  --primary: #BDA7D6;       
  --background: #2D2633;    

  --bg-gradient: 180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(189, 167, 214, 0.05) 100%;

  --gradient: 180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(189, 167, 214, 0.05) 100%;

  --gradient-hover: 180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(189, 167, 214, 0.1) 100%;

  --shadow:
    0px 11px 0px rgba(0, 0, 0, 0.2),
    0px 7px 7px 0px rgba(0, 0, 0, 0.3),
    0px 4px 6px 0px rgba(0, 0, 0, 0.4),
    inset 0px 2px 3px 0px rgba(189, 167, 214, 0.06);
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}